@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


main {
	min-height: 100vh;
	color: white;
	padding: 1rem 1.5rem;
}

.container {
	max-width: 1200px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

h1, p {
	text-align: center;
	font-weight: 300;
}

.social-row {
	display: flex;
	justify-content: center;
}

.social-row > div {
	padding: 0 10px;
}

.logo {
	max-height: 8rem;
	max-width: 300px;
	
}

h1 {
	font-size: 24px;
}

button {
	background-color: transparent;
	border: none;
}

.link-btn {
	display: block;
	border: 1px solid white;
	color: white; 
	width: 100%;
	padding: 1rem 2rem;
	margin: 1rem 0;
	cursor: pointer;
}

.link-btn:hover {
	background-color: white;
	color: black;
	transition: all; 
	transition-duration: 0.3s;
}

.links-row {
	margin: .5rem 0; 
}